%% -*- mode: erlang -*-
{deps, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.0"}}},
    {gproc, {git, "https://github.com/emqx/gproc", {tag, "0.9.0.1"}}}
]}.

{plugins, [
    {emqx_plugin_helper, {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.0"}}}
]}.

{project_plugins, [
    {erlfmt, "1.6.0"}
]}.

{erl_opts, [debug_info, {d, plugin_rel_vsn, "0.4.3"}]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release, {emqx_sdv, "0.4.3"}, [
        emqx_sdv,
        emqx_plugin_helper
    ]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {builder, [
        {name, "EQMX teams"},
        {contact, "abuse@emqx.io"},
        {website, "https://www.emqx.com/en"}
    ]},
    {repo, "https://github.com/emqx/emqx-plugin-template"},
    {functionality, ["messaging"]},
    {compatibility, [{emqx, "~> 5.7"}]},
    {description, "Reactive Fanout for EMQX SDV."}
]}.

{profiles, [
    {test, [
        {deps, [
            {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.14.4"}}},
            %% this is only test dependency for plugin development
            %% for production, it will call the hocon lib from emqx itself
            {hocon, {git, "https://github.com/emqx/hocon.git", {tag, "0.45.3"}}},
            {meck, "0.9.2"}
        ]}
    ]}
]}.
